<div class="header-empty-space"></div>
<a class="header-link" style="text-decoration:none;" href="/application/"><img class="site-icon" src="{{"query": "settings.siteIcon"}}"/><h1 class="site-title">{{"query": "settings.siteTitle"}}: {{"query": "settings.siteSlogan"}}</h1></a>
<div class="nav-buttons">
    <div class="search-bar">
        <form action="" method="GET">
            <input type="text" name="search" placeholder="Search Dinos">
            <button type="submit">Dino Search!</button>
        </form>
    </div>
    <a href="/application/"><img alt="Home Icon" src="/img/store.svg"><span>Home</span></a>
    <a href="/application/"><img alt="Cart Icon" src="/img/cart.svg"><span>Cart</span></a>
</div>

