<div class="header-empty-space"></div>
<a class="header-link" style="text-decoration:none;" href="/"><img class="site-icon" src="{{"query": "settings.siteIcon"}}"/><h1 class="site-title">{{"query": "settings.siteTitle"}}: {{"query": "settings.siteSlogan"}}</h1></a>
<div class="nav-buttons">
    {{
    "template": "templateSearchBar",
    "condition": {
        "isPage": "index"
    }
    }}
    <a href="/"><img alt="Home Icon" src="/img/store.svg"><span>Home</span></a>
    <a href="/"><img alt="Cart Icon" src="/img/cart.svg"><span>Cart</span></a>
</div>

