<div class="product-guide" id="product_guide">
    <h2>Our Products ({{ "query":"totalProductCount" }})
        {{"template":"templateProductGuideSeeAllButton",
            "condition":{
                "isPage":"index"
            }
        }}</h2>
    <div class="product-guide-counter"><h3>{{ "method":"get_page_count_descriptor" }}</h3>
        <div>{{ "method":"get_applied_filters_html", "condition":{  "urlParamIsSet": "filter"} }}
            {{ "template":"templateFilterListResetButton", "condition":{  "urlParamIsSet": "filter"} }}
            {{ "method":"get_applied_search_html", "condition":{  "urlParamIsSet": "search"} }}
            {{ "template":"templateSearchResetButton", "condition":{  "urlParamIsSet": "search"} }}</div></div>
    <div class="product-guide-catalog">
        {{ "method":"get_product_guide" }}
    </div>
    <div class="product-guide-pagination">
        {{ "method":"get_pagination_display" }}
    </div>

</div>