<div class="product-guide" id="product_guide">
    <h2>Our Products ({{ "query":"totalProductCount" }})</h2>
    <div class="product-guide-counter"><h3>{{ "method":"get_page_count_descriptor" }}</h3><span>{{ "method":"get_applied_filters_html", "condition":{  "urlParamIsSet": "filter"} }}</span></div>
    <div class="product-guide-catalog">
        {{ "method":"get_product_guide" }}
    </div>
    <div class="product-guide-pagination">
        {{ "method":"get_pagination_display" }}
    </div>
</div>