<div class="product-display-content">
    <img class="product-image-main" src="{{"query": "product.product_image"}}"  alt="{{"query": "product.product_image_alt"}}">
    <h2>{{"query": "product.product_title"}}</h2>
    <p>Asking Price: {{"query": "product.product_price"}} {{"query": "product.product_price_unit"}}</p>
    <p>{{"query": "product.product_description"}}</p>
    <p>Weight: {{"query": "product.product_weight"}} {{"query": "product.product_weight_unit"}}</p>
    <h4>Tags: {{"query": "product.product_tags", "format": "csv"}}</h4>
    <a href="/products/id/{{"query": "product.next_id"}}">Next Product</a>
    <a href="/" style="float:right;">Back to Main Page</a>
</div>
