<header class="store-header">
    {{
    "template": "templateHeader"
    }}
</header>
<div class="layout-container">
    <div class="left-bar center-layout">
        {{
        "template": "templateLeftSidebar"
        }}
    </div>
    <div class="content">
        {{
        "template": "templateProductGuide",
        "settings": {
                "maxItemDisplay" : 8
            }
        }}
    </div>
    <div class="right-bar center-layout">
        {{
        "template": "templateRightSidebar"
        }}
    </div>
</div>
<footer>
    {{
    "template": "templateFooter"
    }}
</footer>